*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    font-weight: 300;
}

.bold{
    font-weight: 600;
}

body{
    padding: 0rem 5rem;
    margin-top: 89px;
    padding-bottom: 5rem;
}

header{
    display: flex;
    align-items: center;
    padding: 25px;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 30;
}

header h2{
    font-weight: 800;
    margin-right: auto;
}

#themeContainer{
    display: flex;
    font-weight: 600;
    align-items: center;    
    justify-content: right;
    cursor: pointer;
}

#themeContainer ion-icon{
    padding: 0 0.5rem;
}

@media only screen and (min-width: 375px) and (max-width: 768px){

    body{
        padding: 0 2rem;
        margin-top: 89px;
        padding-bottom: 3rem;
    }

    header{
        padding: 5px;
        padding: 0 1.5rem;
        height: 80px;
    }

    header h2{
        font-weight: 800;
        font-size: 1.2rem;
    }
    
    #themeContainer{
        display: flex;
        font-weight: 600;
        align-items: center;
        font-size: 0.9rem;
    }
    
    #themeContainer ion-icon{
        padding: 0 0.5rem;
    }
}
@media only screen and (max-width: 375px){
    
    body{
        padding: 0 1.8rem;
        margin-top: 89px;
        padding-bottom: 3rem;
    }
    
    header{
        padding: 0px;
        padding: 0 1.1rem;
        height: 80px;
    }

    header h2{
        font-weight: 800;
        font-size: 0.84rem;
    }
    
    #themeContainer{
        display: flex;
        font-weight: 600;
        align-items: center;
        font-size: 0.7rem;
    }
    
    #themeContainer ion-icon{
        padding: 0 0.5rem;
    }
}