@import url(common.css);

#backBtn{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#backBtn ion-icon{
    padding-right: 0.7rem;
}

#countryDetails{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'flag detailsContainer';
}

#countryDetails img{
    grid-area: flag;
    align-self: center;
    height: 25rem;
    width: 35rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#detailsContainer{
    grid-area: detailsContainer;
    align-self: center;
    height: 350px;
    margin: 1rem 0;
    margin-left: 3.48rem;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'countryName countryName'
    'allDetails allDetails'
    'borders borders';
}

#countryDetails h1{
    grid-area: countryName;
    align-self: center;
    font-weight: 800;
    padding-left: 0.40rem;
}

#allDetails{
    grid-area: allDetails;
    display: flex;
    flex-direction: column;
    column-gap: 8vw;
    flex-wrap: wrap;
    padding: 0.5rem;
    padding-top: 0.7rem;
    height: 200px;
    line-height: 2rem;
}

#borders{
    grid-area: borders;
    align-self: flex-end;
    padding: 0.5rem;
}

#borders button{
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

@media only screen and (min-width: 1100px) and (max-width: 1330px) {  
    #countryDetails{
        margin-top: 4rem;
    }

    #countryDetails img{
        justify-self: center;
        height: 20rem;
        width: 28rem;
        border-radius: 8px;
    }
    
    #detailsContainer{
        grid-area: detailsContainer;
        align-self: center;
    }
    
    #countryDetails h1{
        font-size: 1.8rem;
        padding-left: 0.40rem;
    }
    
    #allDetails{
        column-gap: 5vw;
        font-size: 14px;
        height: 165px;
        line-height: 1.8rem;
    }
    
    #borders{
        font-size: 14px;
    }
    
    #borders button{
        font-size: 14px;
        border-radius: 5px;
        margin-left: 0.5rem;
        margin-top: 0.7rem;
        padding: 0.5rem 0.9rem;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) { 
    body{
        padding: 0rem 4rem;
        padding-bottom: 4rem;
    }

    #backBtn{
        margin-top: 8rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    
    #backBtn ion-icon{
        padding-right: 0.5rem;
    }
     
    #countryDetails{
        margin-top: 3rem;
        grid-template-columns: 2fr 3fr;
    }

    #countryDetails img{
        justify-self: center;
        height: 16rem;
        width: 22.4rem;
        border-radius: 8px;
    }
    
    #detailsContainer{
        align-self: center;
        margin-left: 3rem;
        height: 270px;
        grid-template-rows: 1fr 2fr 1fr;
    }
    
    #countryDetails h1{
        font-size: 1.5rem;
        padding-left: 0.4rem;
    }
    
    #allDetails{
        column-gap: 3vw;
        font-size: 12px;
        height: 150px;
        line-height: 1.7rem;
    }
    
    #borders{
        font-size: 12px;
    }
    
    #borders button{
        font-size: 12px;
        border-radius: 5px;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) { 
    body{
        padding: 0rem 3rem;
        padding-bottom: 3rem;
    }

    #backBtn{
        margin-top: 6.5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    
    #backBtn ion-icon{
        padding-right: 0.5rem;
    }
     
    #countryDetails{
        margin-top: 2rem;
        grid-template-columns: 3fr 5fr;
    }

    #countryDetails img{
        justify-self: center;
        height: 13rem;
        width: 18.2rem;
        border-radius: 8px;
    }
    
    #detailsContainer{
        align-self: center;
        height: 250px;
        margin-left: 2rem;
        grid-template-rows: 1fr 2fr 1fr;
    }
    
    #countryDetails h1{
        font-size: 1.5rem;
        padding-left: 0.4rem;
    }
    
    #allDetails{
        column-gap: 3vw;
        font-size: 12px;
        height: 120px;
        line-height: 1.5rem;
    }
    
    #borders{
        font-size: 12px;
    }
    
    #borders button{
        font-size: 12px;
        border-radius: 5px;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) { 
    body{
        padding: 0rem 2rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }

    #backBtn{
        width: 120px;
        margin-top: 1.8rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
    
    #backBtn ion-icon{
        padding-right: 0.5rem;
    }
     
    #countryDetails{
        margin-top: 2.5rem;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        grid-template-columns: 0fr 0fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
        'flag' 'detailsContainer';
    }

    #countryDetails img{
        justify-self: center;
        height: 14.4rem;
        width: 20rem;
        border-radius: 8px;
    }
    
    #detailsContainer{
        align-self: center;
        justify-self: center;
        height: 520px;
        max-width: 400px;
        margin-left: 0rem;
        margin: 0 0;
        margin-top: 0.6rem;
        padding: 0rem 1rem;
        grid-template-rows: 1fr 2fr 1fr;
        /* margin: 0rem 0; */
        /* grid-template-rows: 66.2656px 301.188px 150px; */
    }
    
    #countryDetails h1{
        font-size: 1.5rem;
        height: 1.8rem;
        padding-left: 0rem;
        padding-top: 0rem;
        justify-self: left;
        align-self: center;
    }
    
    #allDetails{
        font-size: 14px;
        height: 300px;
        line-height: 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0rem;
        padding-top: 2rem;
        margin-bottom: 0;
    }
    
    #allDetails p:nth-child(5){
        margin-bottom: 2rem;
    }

    #borders{
        font-size: 1rem;
        padding: 0;
        padding-top: 1rem;
        align-self: flex-start;
    }
    
    #borders span{
        display: block;
        margin-bottom: 1rem;
    }

    #borders button{
        font-size: 14px;
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }   
}

@media only screen and (max-width: 375px) { 
    body{
        padding: 0rem 1.8rem;
        display: flex;
        flex-direction: column;
    }

    #backBtn{
        width: 120px;
        margin-top: 1.8rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
        padding: 0.5rem -1rem;
        border-radius: 5px;
    }
    
    #backBtn ion-icon{
        padding-right: 0.5rem;
    }
     
    #countryDetails{
        margin-top: 2.2rem;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        grid-template-columns: 0fr 0fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
        'flag' 'detailsContainer';
    }

    #countryDetails img{
        justify-self: center;
        height: 14.3rem;
        width: 19.8rem;
        border-radius: 8px;
    }
    
    #detailsContainer{
        align-self: center;
        height: 500px;
        width: 93vw;
        margin-left: 0rem;
        margin-top: 0.6rem;
        padding: 0rem 1rem;
        /* margin: 0rem 0; */
        grid-template-rows: 66.2656px 301.188px 150px;
    }
    
    #countryDetails h1{
        font-size: 1.3rem;
        height: 1.5rem;
        padding-top: 0rem;
        justify-self: left;
        align-self: center;
    }
    
    #allDetails{
        font-size: 14px;
        line-height: 2rem;
        height: 290px;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0rem;
        padding-top: 0.1rem;
        margin-bottom: 0;
    }

    #allDetails p:nth-child(5){
        margin-bottom: 2rem;
    }
    
    #borders{
        font-size: 16px;
        padding: 0;
        padding-top: 1rem;
        align-self: flex-start;
    }
    
    #borders span{
        display: block;
        margin-bottom: 1rem;
    }
    #borders button{
        font-size: 12px;
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }   
}